body {
    background-color:cornflowerblue;
}


h2 {
    color:blueviolet;
}
p {
    color:chartreuse;
}

.titulo {
    color:brown;
}

.cuadrado {
width: 200px;
height: 200px;
background-color: coral;
}

.pokemon {
    width: 200px;
    height: 200px;
    background-image: url(https://static.wikia.nocookie.net/espokemon/images/9/95/Logo_Campamento_Pok%C3%A9mon.png/revision/latest?cb=20141022195550);